[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.9b0"
pytest = "==6.2.5"
pytest-mock = "==3.6.1"
pytest-runner = "==5.3.1"

[packages]
pandas = "*"
pyarrow = "*"
jupyter = "*"
pandassql = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true


[scripts]
preprocess = "python etl/preprocessor.py"
lint = "pipenv run black . --check"
"lint:fix" = "pipenv run black ."